@page "/play/{*gameData}"

@inject IConfiguration Configuration 

<GameStatus StatusText="@statusText" TextSubmitted="StatusTextSubmitted" @bind-Visible="showGameStatusModal"/>

<PageHeader ID="top-bar" LanguageChanged="LanguageChanged" ShowStatusIcon="true" StatusIconClicked="ShowGameStatus" />

<div id="content-block" class="row bg-dark" style="padding-top: 67px; padding-bottom: 55px">
	<div class="col">
		<ShowContentLog ContentLog="ContentLog" BlockIDStart="@("content-block-id")" />
	</div>
</div>

<div class="footer fixed-bottom">

	@if (isPaused)
	{
	<ProceedButtonBar ID="bottom-bar" OnProceedClicked="ProceedClickedAsync" />
	}
	else @if (hasEnded)
	{
	<ProceedButtonBar ID="bottom-bar" OnProceedClicked="RestartClickedAsync" ButtonLabel="@((MarkupString)LanguageProvider.GetConfigurationValue(Constants.RestartButtonLabel))" />
	}
	else
	{
		<div class="container my-0 alert alert-danger alert-dismissible fade show @(error != null ? "visible" : "hidden")">
			@(error ?? (MarkupString)"&nbsp")
			<button type="button" class="btn-close" @onclick="@(() => error = null)"></button>
		</div>
		<form id="bottom-bar" class="container bg-dark border-top border-danger" @onsubmit="@SubmitInput">
			<div class="row pt-2 pb-2 gx-2">
				<div class="col">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" style="cursor: default;">&gt;</span>
						</div>
						<input @ref="focusElement" type="text" maxlength="@(inputSpecs?.MaxLength ?? 100)" style="text-transform: @((inputSpecs?.IsLowerCase ?? false) ? "lowercase" : "none")" class="form-control" @bind="@input" @onkeypress="@(() => error = null)" />
					</div>
				</div>
				<div class="col-md-auto">
					<input type="submit" class="btn btn-light" value="@LanguageProvider.GetConfigurationValue(Constants.ProceedButtonLabel)" />
				</div>
			</div>
		</form>
		}

	</div>